// Intro
.intro {
  background-image: url("./../img/bg-intro.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}
.intro h1 {
  text-transform: uppercase;
  font-size: 2.5em;
}
.intro h1::after {
  content: " ";
  display: block;
  width: 20px;
  height: 4px;
  background-color: #fff;
  margin: 10px auto;
}
.intro p {
  font-style: italic;
  font-size: 1.125em;
}
