/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body */
body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #252525;
}
/* Cabeçalho */
.cabecalho {
  background-color: #252525;
  padding: 20px 10px;
}
.cabecalho-container {
  max-width: 1024px;
  margin: 0 auto;
}
.cabecalho-container::after,
.cabecalho-container::before {
  content: "";
  display: table;
  clear: both;
}
/* Logo */
.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}
/* Menu */
.menu-nav {
  float: right;
  margin-right: 10px;
}
.menu-nav ul li {
  display: inline-block;
}
.menu-nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
  border: 2.5px solid transparent;
}
.menu-nav ul li a:hover {
  border: 2.5px solid #fff;
  transition: 1s;
  border-radius: 2px;
}
/* Intro */
.intro {
  background-image: url(./../img/bg-intro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}
.intro h1 {
  font-size: 3em;
  color: #fff;
  text-align: center;
}
.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background-color: #fff;
  margin: 10px auto;
}
.intro p {
  font-style: italic;
  font-size: 1.25em;
  color: #fff;
  text-align: center;
}
